 .container {
    display: flex;
    flex-wrap: wrap;
 }
 
 @media screen and (min-width: 1200px) {
    .ariketa-1 {
      display: block;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .ariketa-2 {
        display: block;
      }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .ariketa-3 {
        display: block;
      }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .ariketa-4 {
        display: block;
      }
  }
  
  @media screen and (max-width: 576px) {
    .ariketa-5 {
        display: block;
      }
  }